/* base */
$typography-base-color: #333;
$typography-base-font-size: 15px;
$typography-base-size-ratio: 1;
$typography-base-font-family: sans-serif;
$typography-base-font-weight: 400;
$typography-base-line-height: 1.4;

/* indents */
$typography-indent: calc($typography-base-font-size * 2 / 3);
$typography-indent-large: calc($typography-base-font-size * 4 / 3);
