/*
@mixin base-text определяет размер шрифта и высоту строки
@param $ratio - коэффициент размера шрифта, относительно базового размера
@param $line-height - коэффициент высоты строки, относительно размера шрифта
*/
@define-mixin base-text $ratio, $line-height {

    $x-font-size: calc($typography-base-font-size * $(ratio));

    font-size: $x-font-size;
    line-height: calc($x-font-size * $(line-height));
}

@define-mixin common-text {

    @add-mixin base-text $typography-base-size-ratio, $typography-base-line-height;

    font-family: $typography-base-font-family;
    font-weight: $typography-base-font-weight;
    color: $typography-base-color;
}

@define-mixin common-margin {

    margin: 0 0 $typography-base-font-size;
}

@define-mixin common-padding {

    padding: $typography-indent $typography-indent-large;
}

@define-mixin heading-text {

    font-family: $typography-heading-font-family;
    font-weight: $typography-heading-font-weight;

    color: $typography-heading-color;

    margin: $typography-indent-large 0 $typography-indent;
}

@define-mixin heading-size $prefix, $ratio {

    $msx: calc($typography-base-size-ratio / $(ratio));
    $ms0: $typography-base-size-ratio;
    $ms1: calc($ms0 * $(ratio));
    $ms2: calc($ms1 * $(ratio));
    $ms3: calc($ms2 * $(ratio));
    $ms4: calc($ms3 * $(ratio));

    $(prefix)1 {
        @add-mixin base-text $ms4, $typography-heading-line-height;
    }

    $(prefix)2 {
        @add-mixin base-text $ms3, $typography-heading-line-height;
    }

    $(prefix)3 {
        @add-mixin base-text $ms2, $typography-heading-line-height;
    }

    $(prefix)4 {
        @add-mixin base-text $ms1, $typography-heading-line-height;
    }

    $(prefix)5 {
        @add-mixin base-text $ms0, $typography-heading-line-height;
    }

    $(prefix)6 {
        @add-mixin base-text $msx, $typography-heading-line-height;
    }
}

@define-mixin code-text {

    @add-mixin base-text $typography-code-size-ratio, $typography-code-line-height;

    font-family: $typography-code-font-family;
    font-weight: $typography-code-font-weight;

    color: $typography-code-color;
}

@define-mixin blockquote {
    font-family: $typography-blockquote-font-family;
    font-weight: $typography-blockquote-font-weight;
    @add-mixin base-text $typography-blockquote-size-ratio, $typography-blockquote-line-height;
    color: $typography-blockquote-color;
}

@define-mixin blockquote-content {
    margin: 0;
}

@define-mixin blockquote-footer {
    @add-mixin base-text $typography-blockquote-footer-size-ratio, $typography-blockquote-line-height;
    color: $typography-blockquote-footer-color;
    margin: $typography-indent 0 0;
}
