:block(blockquote) {
    font-family: $typography-base-font-family;
    /*font-size: calc($typography-base-font-size * $ms1);*/

    margin: 0 $typography-indent-large $typography-indent-normal;
    padding: $typography-indent-small $typography-indent-large;
}

:block(blockquote):elem(footer) {
    /*font-size: $typography-base-font-size;*/
    color: $typography-muted-color;
    margin: $typography-indent-small 0 0;
}

:block(blockquote):elem(footer)::before {
    content: '\2014 \00A0';
}
