:block(paragraph) {
    color: var(--typography-base-color);

    font-size: var(--typography-base-font-size);
    font-family: var(--typography-base-font-family);

    line-height: calc(var(--typography-text-line-height) * var(--typography-base-font-size));
    font-weight: var(--typography-text-weight);

    margin-bottom: var(--typography-base-font-size);
}
